<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ICD9 Predictor from Medical Notes (TDI Capstone Project)">

    <title>ICD9 Predictor</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>ICD9 Predictor from Medical Notes (TDI Capstone Project)</h2>
          <h3>This is app will use take medical notes (discharge summary, office visit note...) 
		  and output a list of potential ICD9 codes.</h3>
          <h4>
		    <style>
			  textarea {
			  width: 100%;
			  height: 200px;
			  padding: 12px 20px;
			  box-sizing: border-box;
			  border: 2px solid #ccc;
			  border-radius: 4px;
			  background-color: #f8f8f8;
			  font-size: 16px;
			  resize: none;
			  }
			</style>
            <form id='input_1' method='post' action='graph' >
              <p>
                Medical Note:
				<textarea type='text' name='note_input' 
				placeholder='This patient has unspecified hyperlipidemia and at least two other chronic health conditions. She takes several medications and uses her notes regularly to manage her health. She remembered a time when a medication dose appeared to be incorrect when she went to pick it up at the pharmacy. She looked up her notes to remember what her doctor said and was able to get the dosage corrected. Additionally, the doctor involved in her high levels of fat particles (lipids) management is not located at the same hospital where she receives the rest of her care, but she’s able to print the notes and share them. It’s important to her that her entire health care team has access to the same information. The notes have helped her feel more like an expert in her own conditions, and she says despite her complicated medical life, she feels healthy.'></textarea>
              </p>
              <p>
                <input type='submit' value='Submit' />
              </p>
            </form>
          </h4>
		  <h3> The app uses a machine learning model trained on 
		  <a href="https://mimic.physionet.org/">MIMIC-III data set</a>. The Natual Language Processing model
		  trained in this app is comprised of two parts: a Gradient Boosted Machine model using 
		  n-grams of <a href="https://www.cms.gov/Medicare/Coding/ICD9ProviderDiagnosticCodes/codes.html">ICD9 code description</a> learning the log loss.
		  Then a two layer Neural Network learning the residuals using internal word embedding.</h3>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
